{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
        <title>{% block title %}IceBreaker{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'startFundraiser/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!--- Ajax CDNs --->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>

    <body>
        <script type="text/javascript">
          $(document).ready(function(event){
            $(document).on('click','#like',function(event){
              event.preventDefault();
              var id = {{ campaign1.id }};
              $.ajax({
                type: 'POST',
                url: '{% url "startFundraiser:like_camp" %}',
                data: {'id':id, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                  $('#like-section').html(response['form'])
                  console.log($('#like-section').html(response['form']));
                },
                error: function(rs, e){
                  console.log(rs.responseText);
                },
              });
            });
          });
        </script>


        <!-- Header -->
<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="site-nav-wrapper">
                <div class="navbar-header">
                    <form class="navbar-form navbar-right" action="{% url 'startFundraiser:index' %}" name="q" id="q">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Discover" name="q" id="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="Submit"><i class="glyphicon glyphicon-search" style="float: right"></i></button>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav pull-right" id="links">
                        <li class="nav-item" id="links"><a class="navbar-brand" href="{% url 'startFundraiser:home' %}" >ice<strong>Breaker</strong></a></li>
                        <li class="nav-item" id="links"><a href="{% url 'startFundraiser:start_campaign' %}">Start Fundraiser</a></li>
                        <li class="nav-item dropdown" id="links">
                            <a class="nav-link dropdown-toggle" href="{% url 'startFundraiser:campaigns' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Explore
                            </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                  <a class="dropdown-item" href="{% url 'startFundraiser:campaigns' %}">All Campaigns</a>
                                  <a class="dropdown-item" href="{% url 'startFundraiser:creative' %}">Creative</a>
                                  <a class="dropdown-item" href="{% url 'startFundraiser:social' %}">Social</a>
                                  <a class="dropdown-item" href="{% url 'marketplace:products_blog' %}">Marketplace</a>
                                  <a class="dropdown-item" href="{% url 'marketplace:my_products' %}">My Products</a>
                                  <a class="dropdown-item" href="{% url 'startFundraiser:tech' %}">Tech &amp; Innovation</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Communities</a>
                                </div>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item" id="links"><a href="{% url 'register:user_logout' %}">Logout</a></li>
                        hii {{ request.user }}
                        {% else %}
                        <li class="nav-item" id="links"><a href="{% url 'register:user_register' %}">SignUp</a></li>
                        <li class="nav-item" id="links"><a href="{% url 'register:user_login' %}">Login</a></li>
                        {% endif%}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
        <!-- Header Ends -->

    {% block content %}
        <!--Preloader-->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>

        <!-- Home -->
        <section id="home">
            <!-- Background Video -->
            <video id="home-bg-video" poster="{% static 'startFundraiser/images/help.jpg' %}" autoplay loop muted>
                <source src="{% static 'startFundraiser/videos/helping.mp4' %}" type="video/mp4">
            </video>

            <!-- Overlay -->
            <div id="home-overlay"></div>

        <!-- Overlay -->
        <div id="home-content" class="text-center">
            <div id ="home-content-inner">
                <div id="home-heading">

                    <h1 id="home-heading-1"><span>Ice<strong>Breaker</strong></span></h1>
                    <br>
                    <h1 id="home-heading-2">Make your ideas live!</h1>
                    <br><br><br>
                </div>
                <div id="home-btn">
                    <a class="btn btn-general btn-home" href="{% url 'startFundraiser:campaigns' %}" title="Explore" role="button">Explore</a>
                </div>
            </div>
        </div>
        </section>


        <section>
          <br><br><br><br>
          <div class="main">
            <h1>Trending Now</h1>
            <hr>
            <!-- Portfolio Gallery Grid -->
              <div class="row">
                  {% for trends in trending %}
                    <div class="column">
                        <div class="content">
                          <a href = ""><img src="{{trends.image.url}}"  style="width:250px;height:450px;"/></a>
                          <h4> <span class="label label-default">Domain</span></h4>
                          <h4><a style="color:inherit;" href = "{% url 'startFundraiser:campaign_detail' campaign_id=trends.pk %}">{{trends.campaign_Title}}</a></h4>

                          <h6>by</h6> <h5>{{trends.user}}</h5>

                        <!--  <p>{{trends.pk}}</p>-->
                          <p>{{trends.overview}}</p>

                          <hr>
                          <a href="https://api.whatsapp.com/send?phone=&text={{trends.image.url }} {{ trends.campaign_Title }} {{ trends.overview }}"><img style="height:25px;width:30px;align:left;" src="{% static 'images/share.jpg' %}" alt="share"></a>
                          <a href="#"><img style="height:25px;width:25px;align:left;" src="{% static 'images/Capture1.jpg' %}" alt="like"></a>
                        </div>
                    </div>


                  {% endfor %}
            <!-- END GRID -->
              </div>
            <!-- END MAIN -->
          </div>
        </section>


    {% endblock %}
        <!-- scripts -->
	    <script src="{% static 'startFundraiser/js/jquery.js' %}"></script>
	    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'startFundraiser/js/script.js' %}"></script>
    </body>
</html>
