{% extends 'startFundraiser/base.html' %}
{% block title %}{{ campaign1.campaign_Title }}{% endblock %}

{% block content %}
<div class="container-fluid" style="">
    <div class="row justify-content-center">
        <div class="col-lg-6" style="align-content: center">
                        {% if campaign1.image %}
                            <img src="{{ campaign1.image.url }}" class="img-responsive" style="width: 100%">
                        {% else %}
                            <h3>{{ campaign1.campaign_Title }}</h3>
                        {% endif %}
        </div>
        <div class="col-lg-4">
                     <h3 style="color: #6c757d">{{ campaign1.campaign_Category|capfirst }}</h3>
                     <hr>
                     <h1>{{ campaign1.campaign_Title }}</h1>
                     <br>
                     <h5>{{ campaign1.campaign_Tagline }}</h5>
                     <br>
                     <h4 style="color: #6c757d">Campaign Initiator</h4>
                     <h5>{{ campaign1.user }}</h5>
                     <span class="glyphicon glyphicon-map-marker" style="float: left"></span>
                     <h5>{{ campaign1.city|capfirst }}, {{ campaign1.country|capfirst }}</h5>
                     <br>
                     {% if is_editable %}
                     <strong>
                        <span class="glyphicon glyphicon-edit"><a href="{% url 'startFundraiser:campaign_edit' campaign1.id %}" >Edit</a></span>&nbsp;
                        <span class="glyphicon glyphicon-trash"><a href="{% url 'startFundraiser:campaign_delete' campaign1.id %}" >Delete</a></span>&nbsp;
                        <span class="glyphicon glyphicon-pencil"><a href="{% url 'startFundraiser:add_update' campaign1.id %}" >Update</a></span>&nbsp;
                        <span class="glyphicon glyphicon-plus"><a href="{% url 'startFundraiser:add_faq' campaign1.id %}" >FAQ</a></span>&nbsp;
                      </strong>
                     {% endif %}
                     <span class="glyphicon glyphicon-edit"><a href="{% url 'startFundraiser:add_comment' campaign1.id %}" >Comments</a></span>&nbsp;

                    <div id="like-section">
                      {% include 'startFundraiser/like_section.html' %}
                    </div>


                     <br>
                     <br>
                     <h4 style="color: #6c757d">Goal</h4>
                     <p>&#8377;{{ campaign1.goal }}</p>
                     <br>
                     <p style="color: #6c757d">&#8377;<strong>{{ campaign1.pledged }}</strong> raised by {{ campaign1.people_pledged }} supporters</p>
                     <br>
                    <span class="glyphicon glyphicon-piggy-bank"><a href="{% url 'startFundraiser:campaign_support' campaign1.id %}" role="button">
                    Support It
                    </a>
                    </span>&nbsp;

        </div>
    </div>
    <br><br><br>
    <div class="row justify-content-center">
           <div class="col-lg-3">
                        {% if campaign1.campaign_Card_Image %}
                            <img src="{{ campaign1.campaign_Card_Image.url }}" class="img-responsive" style="width: 100%">
                        {% endif %}
           </div>
           <div class="col-lg-5">
           <h4 style="color: #6c757d">Campaign Outline</h4><hr>
                     <p>{{ campaign1.overview }}</p>
           </div>
    </div>
    <div class="row justify-content-center">
           <div class="col-lg-8">
           <br><br>
           <h4 style="color: #6c757d">Story</h4><hr>
                     <p>{{ campaign1.story }}</p>
           </div>
    </div>
    <br><br><br>
    <div class="row justify-content-center">

                <div class="col-lg-2" ><a href="#faqs" style="color: #6c757d"><strong>FAQs({{ campaign1.faqs_set.count }})</strong></a></div>
                <div class="col-lg-2" ><a href="#comments" style="color: #6c757d"><strong>Comments</strong></a></div>
                <div class="col-lg-2" ><a href="#updates" style="color: #6c757d"><strong>Updates</strong>({{ campaign1.update_set.count }})</a></div>
                <div class="col-lg-2" ><a href="#supporters" style="color: #6c757d"><strong>Supporters</strong>({{ campaign1.people_pledged }})</a></div>

                <div class="col-lg-8"><hr></div>

                <!--FAQs-->
                <div class="col-lg-8">
                FAQs
                <a name="faqs">
                    {% for faq in campaign1.faqs_set.all %}
                    <div class="update">
                    <strong>{{ faq.question }}</strong>
                    <p>{{ faq.answer }}</p>
                    </div>
                    {% empty %}
                    <p>No faqs! </p>
                    {% endfor %}
                </a>
                <hr>
                </div>
                <!--Comments-->
                <div class="col-lg-8">
                COMMENTS
                <a name="comments">
                  {% for comment in campaign1.comment_set.all %}
                    <p>{{ comment.content }}</p>
                    <footer class = "blockquote-footer">by <cite>{{ comment.author }}</cite></footer>
                  {% endfor %}
                  </a>
                </div>

                <!--Updates-->
                <div class="col-lg-8">
                UPDATES
                <a name="updates">
                {% for update in campaign1.update_set.all %}
                <div class="update">
                    <div class="date">{{ update.created_date }}</div>
                    <strong>{{ campaign1.user }}</strong>
                    <p>{{ update.text|safe }}</p>
                </div>
                {% empty %}
                    <p>No updates! </p>
                {% endfor %}
                </a>
                <hr>
                </div>

                <!--Supporters-->
                <div class="col-lg-8">
                SUPPORTERS
                <a name="supporters">
                {% for supporter in campaign1.backers_set.all %}
                    <div class="update" style="text-align: center">
                        <strong>{{ supporter.backer }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ supporter.amount }}
                    </div>
                {% empty %}
                    <p>No backers! </p>
                {% endfor %}
                </a>
                <hr>
                </div>

    </div>
    <br><br><br>
        <div class="row justify-content-center">

           <div class="col-lg-10">
           <br><br>
            {% if tag %}
                <h4 style="color: #6c757d">Tags</h4><hr>
                {% for ind in tag %}
                     {{ ind }}
                {% endfor %}
            {% endif %}
            <br><br><br>

{% endblock %}
