{% extends "startFundraiser/base.html" %}

{% block content %}
{% for post in posts %}
  <a class="post" href="#">
    <div class="post__title post__item">
      {{ post.pk }}
      {{ post.title}}

    </div>
    <div class="">
      <img class="" src="/media/{{ post.image }}" />
    </div>
    <div class="">
      {{ post.description | safe }}
      {{ post.body }}
    </div>
  <!--  <div class="post__description post__item">
      {{ post.description2 | safe }}
    </div> -->
    <a class="">Read more</a>
  </a>
  <br>

  <a href="{% url 'edit_post' id=post.pk %}">Edit</a>
  <a href="{% url 'del_post'  id=post.pk %}">Delete</a>

  {% endfor %}

{% endblock %}
