{% extends 'startFundraiser/home.html' %}

{% block content %}
{% if posts %}
  {% for post in posts %}
  <br><br><br><br><br><br><br>

      <div class="post__title post__item">

      <h1>  {{ post.title}} </h1>

      </div>
    <!--  <div class="">
        <img class="" src="/media/{{ post.image }}" />
      </div>-->
      <div class="">
        {{ post.description  }}
        {{ post.body }}
      </div>
    <!--  <div class="post__description post__item">
        {{ post.description2 | safe }}
      </div> -->


    <br>

    <a href="{% url 'edit_post' id=post.pk %}">Edit</a>
    <a href="{% url 'del_post'  id=post.pk %}">Delete</a>

    {% endfor %}
{% else %}
  <br><br><br><br><br><br><br><br><br>
  <center><h1>No New Notifications</h1></center>
  {% endif %}
{% endblock %}
