table {
    font-family:"Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
html {
  position:relative;
  min-height:100%;
}
body {
  font-family:"Times New Roman", Times, serif;
  background-image: url("images/giphy.gif");
  background-repeat: no-repeat,repeat;
  background-size:cover;
}
a:hover {
    color: #F933FF;
}
.navbar-brand {
  font-family: 'Sacramento', cursive;
}
body {
    background-image: url("images/giphy.gif");
    background-repeat: no-repeat,repeat;
    background-size:cover;
    }
